#shuttle select {
    display: none;
}

#shuttle .ui-selecting {
    background: #FECA40;
}

#shuttle .ui-selected {
    background: #F39814;
    color: white;
}

#shuttle ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.shuttle-list-container {
    width: 10em;
    height: 10em;
    border: 1px solid black;
}

.shuttle-button-container {
    margin: 2em;
}

#shuttle ul li {
    margin: 3px;
    padding: 0.4em;
    font-size: 1.4em;
    height: 18px;
}

.shuttle-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 0.5em;
}

.cross {
    background-image: url('imgs/cross.png');
}

.tick {
    background-image: url('imgs/tick.png');
}
